<div class="bg-stone-700 ">
    <div class="grid grid-cols-2 gap-8 py-8 px-6 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-xl font-extrabold text-yellow uppercase text-sky-400">ieltsworld</h2>
            <ul class="text-white dark:text-white">
                <li class="mb-4">
                    <a href="#" class=" hover:underline">Home</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">About</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Blog</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Carrers</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-xl font-extrabold text-green-600 uppercase ">Help center</h2>
            <ul class="text-white dark:text-white">
                <li class="mb-4">
                    <a href="#" class="hover:underline">Discord Server</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">FAQ</a>
                </li>
                <li class="mb-4">
                    <a href="https://support.vaibhavupreti.tech/" class="hover:underline">Support</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Contact Us</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-xl font-extrabold text-yellow-500 uppercase ">Legal</h2>
            <ul class="text-white dark:text-white">
                <li class="mb-4">
                    <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Licensing</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Reach out</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-xl font-extrabold text-blue-700 uppercase ">Updates</h2>
            <ul class="text-white dark:text-white">
                <li class="mb-4">
                    <a href="#" class="hover:underline">Latest from ieltsworld</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Android</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Windows</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">MacOS</a>
                </li>
            </ul>
        </div>
    </div>

</div>
