<!--
Here we can add is user_admin? or user_teacher? or user_member? for managing paid courses and features
-->

<!--
PAID Courses
-->
<% if user_signed_in? %>
<!--
Create a gallery of courses maybe mixed and make a serperate page then render it here.
-->
<%= render 'shared/paidcourses' %>
<%= render 'shared/courses' %>

<% else %>

<!--
Hero with bg image brown
-->
<header
    class="w-full h-96 bg-[url('https://png.pngtree.com/thumb_back/fh260/background/20200721/pngtree-dark-brown-skin-texture-vintage-background-image_363095.jpg')] bg-cover bg-center flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class=" text-center text-5xl text-white font-bold drop-shadow-lg">Digital English Guide
        <span class="text-green-500">innate.in</span>
        </h1>
        <p class="mt-5 text-center text-lg text-white opacity-70">"Not all of us are *innate* in our language skills... here at innate we help u
        develop your communications skills to look like you were born with it! "  
            </p>
        <a class="mt-8 px-12 py-3 bg-gradient-to-r from-green-500 to-green-500 hover:from-black hover:to-black text-xl text-white font-semibold drop-shadow-lg rounded-full"
            href="#">Get Started</a>
    </div>
</header>

&nbsp;
&nbsp;
&nbsp;
<!--
Some content here
-->

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Technical Specifications</h2>
      <p class="mt-4 text-gray-500">The walnut wood card tray is precision milled to perfectly fit a stack of Focus cards. The powder coated steel divider separates active cards from new ones, or can be used to archive important task lists.</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Origin</dt>
          <dd class="mt-2 text-sm text-gray-500">Designed by Good Goods, Inc.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Material</dt>
          <dd class="mt-2 text-sm text-gray-500">Solid walnut base with rare earth magnets and powder coated steel card cover</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Dimensions</dt>
          <dd class="mt-2 text-sm text-gray-500">6.25&quot; x 3.55&quot; x 1.15&quot;</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Finish</dt>
          <dd class="mt-2 text-sm text-gray-500">Hand sanded and finished with natural oil</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Includes</dt>
          <dd class="mt-2 text-sm text-gray-500">Wood card tray and 3 refill packs</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Considerations</dt>
          <dd class="mt-2 text-sm text-gray-500">Made from natural materials. Grain and color vary with each item.</dd>
        </div>
      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-01.jpg" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="bg-gray-100 rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-02.jpg" alt="Top down view of walnut card tray with embedded magnets and card groove." class="bg-gray-100 rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-03.jpg" alt="Side of walnut card tray with card groove and recessed card area." class="bg-gray-100 rounded-lg">
      <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="bg-gray-100 rounded-lg">
    </div>
  </div>
</div>

<!--
Courses
-->
<%= render 'shared/courses' %>



<% end %>

<!--
Rest of the page
-->

</div>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<h1> Meow</h1>
<div>

<h1> This is the main app... not dedicated for large number of HTML pages that incloude-
All views - which are meant to be in the description app /.

includeing teachers ... features and all will be in description app


Change names  proposals
- innate + ''
- 
- 
- 

This one just has 

- catching marketing intro template
- little pricing section 
- little faq ... rest redirect


PAID COURSES IN carousel in top ... in form of cards


</h1>

