<!--
Here we can add is user_admin? or user_teacher? or user_member? for managing paid courses and features
-->

<!--
PAID Courses
-->
<% if user_signed_in? %>
<!--
Create a gallery of courses maybe mixed and make a serperate page then render it here.
-->
<%= render 'shared/paidcourses' %>
<%= render 'shared/courses' %>

<% else %>

<!--
Hero with bg image brown
-->
<header
    class="w-full h-96 bg-[url('https://png.pngtree.com/thumb_back/fh260/background/20200721/pngtree-dark-brown-skin-texture-vintage-background-image_363095.jpg')] bg-cover bg-center flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class=" text-center text-5xl text-white font-bold drop-shadow-lg">Digital English Guide
        <span class="text-green-500">innate.in</span>
        </h1>
        <p class="mt-5 text-center text-lg text-white opacity-70">"Not all of us are *innate* in our language skills... here at innate we help u
        develop your communications skills to look like you were born with it! "  
            </p>
        <a class="mt-8 px-12 py-3 bg-gradient-to-r from-green-500 to-green-500 hover:from-black hover:to-black text-xl text-white font-semibold drop-shadow-lg rounded-full"
           href="<%= new_user_registration_path%>">Get Started</a>
    </div>
</header>

&nbsp;
&nbsp;
&nbsp;
<!--
Some content here
-->
<%= render 'shared/courses' %>
<% end %>
